nav.the_navbar.d-flex.justify-content-between.align-items-center.p-1
  .h3.mb-0 Aloha
    a-translation.text-capitalize(
      tag="span"
      text="_ACCESSIBILITY_"
      text-before=" "
    )
  .text-end.d-flex
    //-button.btn.btn-outline-primary.me-1.position-relative(
    //-  type="button"
    //-  @click="togglePlay"
    //-)
    //-  a-icon(
    //-    :icon="togglePlayIcon"
    //-  )
    //-  a-translation.absolute_all(
    //-    tag="span"
    //-    :title="togglePlayText"
    //-    aria-hidden="true"
    //-  )
    //-  a-translation.visually-hidden(
    //-    tag="span"
    //-    :text="togglePlayText"
    //-  )
    button.btn.btn-outline-primary.me-1.position-relative(
      type="button"
      @click="resetAll"
    )
      a-icon(
        icon="Reset"
      )
      a-translation.absolute_all(
        tag="span"
        title="reset all"
        aria-hidden="true"
      )
      a-translation.visually-hidden(
        tag="span"
        text="reset all"
      )
    the-language-select(
      :model-value="modelValue"
      @update:modelValue="updateLanguage"
    )
