div
  a-translation(
    tag="h1"
    text="_HEADINGS_H1_H6_"
  )

  div
    a-element.a_btn.a_btn_secondary(
      type="button"
      :text="textForBtnToggleHeadings"
      @click="toggleHeadings"
    )
    a-element.a_btn.a_btn_secondary(
      type="button"
      text="_HEADINGS_CHECK_"
      @click="checkHeadings"
    )
