div
  a-translation(
    tag="h1"
    text="_HEADINGS_H1_H6_"
  )

  div
    a-checkbox(
      v-model="modelTags"
      :data="tags"
      :is-button-group="true"
      key-id="name"
      key-label="name"
      label="_TAGS_"
    )
    a-element.a_btn.a_btn_secondary(
      type="button"
      text="_APPLY_"
      @click="toggleHeadings"
    )
    // a-element.a_btn.a_btn_secondary(
    //   type="button"
    //   text="_HEADINGS_CHECK_"
    //   @click="checkHeadings"
    // )
