div
  a-translation(
    tag="h1"
    text="_HEADINGS_H1_H6_"
  )

  div
    a-checkbox(
      v-model="model.tags"
      :data="tags"
      :inline="true"
      :has-control-checkbox="true"
      key-id="name"
      key-label="name"
      label="_TAGS_"
    )
    a-checkbox.a_mt_2.a_pt_1(
      v-model="model.tags"
      :data="elementsRoleHeading"
      :inline="true"
      :has-control-checkbox="true"
      key-id="name"
      key-label="name"
      label="_ROLE_HEADING_"
    )
    a-element.a_btn.a_btn_secondary(
      type="button"
      text="_APPLY_"
      @click="toggleHeadings"
    )
    // a-element.a_btn.a_btn_secondary(
    //   type="button"
    //   text="_HEADINGS_CHECK_"
    //   @click="checkHeadings"
    // )
