.d-flex
  a-translation.text-capitalize.col-form-label.me-2(
    for="language"
    tag="span"
    text="_LANGUAGE_"
    text-before=" "
  )
  select.form-select(
    id="language"
    :value="modelValue"
    @input="changeSelect"
  )
    option(
      v-for="language in languages"
      :key="language.value"
      :value="language.value"
    ) {{ language.label }}
